{% extends "main/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/calendar.css' %}">

{% endblock %}

{% block content %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <main>
        {% include 'main/calendar_modal.html' %}
        <div class="layout">
            <section class="card" id="calendar-card">

                <div class="month-row">
                    <button class="month-nav-btn" id="prevMonth">‹</button>
                    <div class="month-title" id="monthLabel"></div>
                    <button class="month-nav-btn" id="nextMonth">›</button>
                </div>

                <div class="weekday-row">
                    <div class="weekday">Mon</div>
                    <div class="weekday">Tue</div>
                    <div class="weekday">Wed</div>
                    <div class="weekday">Thu</div>
                    <div class="weekday">Fri</div>
                    <div class="weekday">Sat</div>
                    <div class="weekday">Sun</div>
                </div>

                <div class="calendar-grid" id="calendarGrid"></div>
            </section>

            <section class="card" style="height: fit-content">
                <div class="side-title" id="sideTitle"></div>
                <div class="side-sub" id="sideSub"></div>

                <div class="kanban-column to-do">
                    <div class="column-header">
                        <span class="dot"></span>
                        <span class="title">To Do</span>
                        <span class="count">2</span>
                    </div>
                    <div class="tasks" id="todoList"></div>


                    <button class="new-page-btn">+ New task</button>
                </div>

                <div class="kanban-column in-progress">
                    <div class="column-header">
                        <span class="dot"></span>
                        <span class="title">In progress</span>
                        <span class="count">1</span>
                    </div>
                    <div class="tasks" id="inProgressList"></div>

                    <button class="new-page-btn">+ New task</button>
                </div>

                <div class="kanban-column completed">
                    <div class="column-header">
                        <span class="dot"></span>
                        <span class="title">Done</span>
                        <span class="count">0</span>
                    </div>
                    <div class="tasks" id="completedList"></div>
                    <button class="new-page-btn">+ New task</button>
                </div>

                <div id="toast" style="
                position: fixed;
                bottom: 20px;
                right: 20px;
                background: #f87171;
                color: #fff;
                padding: 12px 20px;
                border-radius: 8px;
                display: none;
                font-weight: 600;
            "></div>

            </section>

        </div>
    </main>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'main/js/calendar.js' %}"></script>
    <script src="{% static 'users/js/auth.js' %}"></script>
{% endblock %}

